// Floorplan for the 3/4 building (bottom-up rows): solid footprint +
// centred front door, aligned to the buildings3d sprite's doorway.
(
    name:            "medium_house",
    style:           "cryo",
    width:           6,
    height:          5,
    layer:           1,
    tiles:           [
            [1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1],
        ],
    entry_points:    [(2, 0), (3, 0)],
    interior_offset: (1, 1),
    interior_size:   (4, 2),
)
