// Floorplan for the 3/4 building (bottom-up rows): solid footprint +
// centred front door, aligned to the buildings3d sprite's doorway.
(
    name:            "large_building",
    style:           "extraction",
    width:           8,
    height:          6,
    layer:           1,
    tiles:           [
            [1, 1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1, 1],
        ],
    entry_points:    [(3, 0), (4, 0)],
    interior_offset: (1, 1),
    interior_size:   (6, 3),
)
