// Floorplan for the 3/4 building (bottom-up rows): solid footprint +
// centred front door, aligned to the buildings3d sprite's doorway.
(
    name:            "wide_house",
    style:           "station",
    width:           7,
    height:          4,
    layer:           1,
    tiles:           [
            [1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1],
            [1, 1, 1, 1, 1, 1, 1],
        ],
    entry_points:    [(3, 0)],
    interior_offset: (1, 1),
    interior_size:   (5, 1),
)
